<p id="notice"><%= notice %></p>

<p>
  <h1> Ãrea </h1>
  <strong>
  	<%= @area.name %>  	
  </strong>
</p>

<%= link_to 'Edit', edit_area_path(@area), class: 'btn btn-warning' %> 
<%= link_to 'Back', areas_path, class: 'btn btn-info' %>
